@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h2>ASP.NET Core - Load Balancing</h2>
    <h3>Nginx</h3>
    <div class="panel m-top-40">
        <div class="panel-body">
            Machine: <code>@ViewData["Machine"]</code>
        </div>
    </div>
</div>